* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bebasneue";
  src: url("./assets/fonts/bebasneue-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/bebasneue-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "bebasneue", serif;
}

p {
  font-family: "roboto", serif;
}

/*  temp pic sizing */
.social-link,
.phone-icon,
.email-icon {
  width: 25px;
}

.profile-pic,
.contact-pic,
.project-screenshot {
  width: 300px;
}

.project-screenshot {
  width: 150px;
}
/* end temp pic sizing */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  gap: 0.5rem;
}

.prof-pic-container {
  position: relative;
  display: flex;
  justify-content: center;

  margin-bottom: 1rem;
}

.prof-pic-container > h1 {
  position: absolute;
  top: 0.5rem;
  left: 2.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 0.1rem 0.25rem;
  border-radius: 0.25rem;
}

.about-me > h1,
.about-me > p,
.about-me > .socials {
  align-self: end;
  text-align: end;
}

.socials > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials > ul > li {
  margin: 0 0.25rem;
}

.profile-pic {
  border-radius: 0.25rem;
  box-shadow: 1px 1px 10px 2px;
}
