* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/*  temp pic sizing */
.social-link,
.phone-icon,
.email-icon {
  width: 32px;
}

.profile-pic,
.contact-pic,
.project-screenshot {
  width: 150px;
}

.project-screenshot {
  width: 150px;
}
/* end temp pic sizing */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prof-pic-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.prof-pic-container > h1 {
  position: absolute;
  bottom: 0.25rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 0.1rem 0.25rem;
}

.socials > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
